{% extends "base_interior.html" %}

{% block title_start %}{{ project.name }} - A Piece in the {% endblock title_start %}


{% block css %}

{{ block.super }}



{% endblock css %}
{% block body_class %}project_detail{% endblock %}
{% block end_scripts %}


{% endblock end_scripts %}

{% block content %}

<div id="section-works">
	<div class="container">
			
		<h1>{{ project.name }}</h1>
		
		<img src="{{ project.gallery.photos.all.0.get_homepage_cover_url }}">
		
		
		<p>{{ project.description|safe }}</p>
		{% if project.skills %}{{ project.skills }}{% if not forloop.last %}, {% endif %}{% endif %}



	</div><!-- end .container -->

</div><!-- end #section-works -->


{% endblock content %}