<!DOCTYPE html>

<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
	================================================== -->
	<meta charset="utf-8">
	<title>{% block title_start %}{% endblock title_start %} Portfolio of Bryan Robinson: Front-end Developer, UX Strategist, Philosopher, Geek</title>
	<meta name="description" content="UX/UI Designer">
	<meta name="author" content="John Doe">
	
	<!-- Mobile Specific Metas
	================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	

	
	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="images/favicon.ico">
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
	
	<script src="js/jquery-1.9.1.min.js"></script>

	{% block top_script %}
	
	{% endblock top_script %}
	
	{% block css %}
	{% load staticfiles %}

	<!-- CSS Files
	* cssreset-min.css 			- CSS reset
	* grid.css				- Responsive grid system based on "Skeleton" by Dave Gamache (http://www.getskeleton.com/)
	* alpha_background.css			- Classes for applying an alpha black or white background
	* style.css				- Main CSS file
	* responsive_custom			- CSS override for responsive layout
	================================================== -->
	<link rel="stylesheet" type="text/css" href="{% static "css/cssreset-min.css" %}">
	<link rel="stylesheet" href="{% static "css/grid.css" %}">
	<link rel="stylesheet" href="{% static "css/alpha_background.css" %}">
	<link rel="stylesheet" href="{% static "css/style.css" %}">
	<link rel="stylesheet" href="{% static "css/responsive_custom.css" %}">
	<link rel="stylesheet" href="{% static "css/fonts.css" %}">
	
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

<style type="text/css" media="screen">
	.navbar {
		background-color:#333;
	}
	#section-profileImage #box-name p {
		font-size:21px;
		margin-top:20px;
	}
	#section-profileImage #box-name h2 {
		font-family:Uncial Antiqua;
	}
	ul.social {
		margin-left:0;
	}
</style>
	{% endblock css %}

</head>
	
	<body onload="setTimeout(function() { window.scrollTo(0, 1) }, 100);">

		<div class="navbar navbar-fixed-top" data-scrollspy="scrollspy">
		    <div class="navbar-inner">
		        <div class="container">
			        <a href="#home" class="brand" title="Bryan Robinson's Portfolio">BryanLRobinson.com</a>

					<div class="nav-collapse">

						<ul class="nav">

							<li><a href="/projects/" title="View my Web design and development projects">Projects</a></li>
							<li><a href="/contact/" title="Contact Memphis Four Wheel Food">Contact</a></li>

						</ul>
					</div><!-- End .nav-collapse -->

				</div><!-- End .container -->

		    </div><!-- End .fill -->
		</div><!-- End .topbar -->


		<div id="section-intro">

			<!-- Profile Image -->
			<div id="section-profileImage">
				<div class="container">
					<div class="sixteen columns">
						<div id="box-name">
							<h2>Bryan L. Robinson</h2>
							<p>UX Strategist and Front-end Developer</p>
						</div><!-- // #box-name -->
							<ul class="social">
								<li><a href="http://www.twitter.com/brob" id="Twitter" title="Twitter" target="_blank"><img src="{% static "images/social/Twitter.png" %}"></a></li>
								<li><a href="http://www.facebook.com/bryanlrobinson/" id="Facebook" title="Dribbble" target="_blank"><img src="{% static "images/social/Facebook.png" %}"></a></li>
								<li><a href="http://linkedin.com/in/bryanlrobinson" id="LinkedIn" title="LinkedIn" target="_blank"><img src="{% static "images/social/LinkedIn.png" %}"></a></li>
							</ul>
					</div><!-- // .four -->
					<div class="clear"></div>
				</div><!-- // .container -->
			</div><!-- // #section-profileImage -->

	
				<!-- About -->
				<div id="section-about">
					<div class="container">
						<!-- <div class="three columns">
							<h3>Hi!</h3>
						</div> -->
						
						
						{% load flatblock_tags %}
						<div class="sixteen columns">
							{% flatblock "homepage-bio" evaluated %}
						</div>

						<div class="clear"></div>
					</div><!-- // .container -->
				</div><!-- // #section-about -->

			</div><!-- // #section-intro -->
	

			
			{% block content %}{% endblock content %}

			{% block home_content %}{% endblock home_content %}
	
	
			<div id ="section-footer">
				<div class="container">
					<div class="sixteen columns">
						<p>Definitely a work in progress. I appreciate <a href="/contact/">all feedback</a>.</p>
					</div><!-- // .six -->
					<div class="clear"></div>
			</div><!-- end #section-footer -->

	
	
	<div class ="row" id="footer">
		<div class ="container">
			
			<div class ="span8">
			</div><!-- end .span7 -->
			<div class ="span3">
				&copy; 2013 <a href="http://bryanlrobinson.com">bryanlrobinson.com</a>
			</div><!-- end .span5 -->
		</div><!-- end .container -->
		
	</div><!-- end .row -->
	
	
	
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	
	<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
	
	<script type="text/javascript" src="file:///Users/bryanrobinson/Documents/personal/trucks/static/js/jTrucks.js"></script>
	
	
	
	
	
	
	
	
	
	{% block end_scripts %}{% endblock end_scripts %}
	
	
	
	
	
	
	
	
	
	</body>
</html>