<!DOCTYPE html>

<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
	{% load staticfiles %}
	<!-- Basic Page Needs
	================================================== -->
	<meta charset="utf-8">
	<title>{% block title_start %}{% endblock title_start %} Portfolio of Bryan Robinson: Front-end Developer, UX Strategist, Philosopher, Geek</title>
	<meta name="description" content="UX/UI Designer">
	<meta name="author" content="John Doe">
	
	<!-- Mobile Specific Metas
	================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	

	
	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="images/favicon.ico">
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
	
	<script src="{% static "js/jquery-1.9.1.min.js" %}"></script>

	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-28912033-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>

	{% block top_script %}
	
	{% endblock top_script %}
	
	{% block css %}


	<!-- CSS Files
	* cssreset-min.css 			- CSS reset
	* grid.css				- Responsive grid system based on "Skeleton" by Dave Gamache (http://www.getskeleton.com/)
	* alpha_background.css			- Classes for applying an alpha black or white background
	* style.css				- Main CSS file
	* responsive_custom			- CSS override for responsive layout
	================================================== -->
{% comment %}	<link rel="stylesheet" type="text/css" href="{% static "css/cssreset-min.css" %}">
	<link rel="stylesheet" href="{% static "css/grid.css" %}">

	
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->


{% endcomment %}


<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
<link rel="stylesheet" href="{% static "css/alpha_background.css" %}">

<link rel="stylesheet" href="{% static "css/style.css" %}">
<link rel="stylesheet" href="{% static "css/responsive_custom.css" %}">
<link rel="stylesheet" href="{% static "css/fonts.css" %}">

<style type="text/css" media="screen">

	
	
	{% load photologue_tags %}
	
	#section-profileImage {
		background:url("{% get_rotating_photo "homepage-cover" "homepage_cover" "random_image" %}") no-repeat fixed center center / cover  #222222
	}
</style>
	{% endblock css %}

</head>
	
	<body class="{% block body_class %}base{% endblock %}" onload="setTimeout(function() { window.scrollTo(0, 1) }, 100);">

		<div class="navbar navbar-fixed-top" data-scrollspy="scrollspy">
		    <div class="navbar-inner">
		        <div class="container">
			        {% block logo %}<a href="/" class="brand" title="Bryan Robinson's Portfolio">BryanLRobinson.com</a>{% endblock %}

					<div class="nav-collapse">

						<ul class="nav">

							<li><a href="/projects/" title="View my Web design and development projects">Projects</a></li>
							<li><a href="/contact/" title="Contact Memphis Four Wheel Food">Contact</a></li>

						</ul>
					</div><!-- End .nav-collapse -->

				</div><!-- End .container -->

		    </div><!-- End .fill -->
		</div><!-- End .topbar -->


		
			{% block home_content %}
				<div id="section-profileImage"></div>

			{% endblock home_content %}	
			{% block content %}{% endblock content %}


	
			<div id ="section-footer">
				<div class="container">
					
					<div class ="span3 columns">
						<p>&copy; {% now "Y" %} <a href="http://bryanlrobinson.com">bryanlrobinson.com</a></p>
					</div><!-- end .span7 -->
					<div class ="span3 offset5 columns right">
						<p>Built lovingly in <a href="http://djangoproject.com">Django</a></p>
					</div><!-- end .span5 -->
					<div class="clear"></div>
			</div><!-- end #section-footer -->

	
	
	
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>

	
	
	
	<script src="{% static "js/bootstrap-scrollspy.js" %}"></script>
	<script src="{% static "js/jquery.foundation.reveal.js" %}"></script>
	<script src="{% static "js/jquery.custom.js" %}"></script>

	<!-- Because jQuery opacity (fadeTo) is being rendered in a weird way in IE browsers, these are only loaded on non-IE browsers -->
	<!--[if !IE]> -->
	<script src="{% static "js/jquery.custom.noIE.js" %}"></script>
	<!-- <![endif]-->
	
	
	
	{% block end_scripts %}{% endblock end_scripts %}
	
	
	
	
	
	
	
	
	
	</body>
</html>